Pillow==9.3.0
matplotlib==3.7.1
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.1
SimpleITK==2.2.1
numpy==1.26.4
tensorboard==2.14.0

# GitHub packages
torchio @ git+https://github.com/blakedewey/torchio.git@6624576490fa56a0decd1e92aaf86f3a6ecdbc59

